html {
    margin-top: 20px;
    width: 320px;
    height: 460px;
}
body {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.container {
    width: 100%;
    height: 100%;
}

.navbar {
    margin-bottom: 0;
}
.navbar-search {
    position: relative;
}
  
.navbar-search .search-query {
    padding-left: 29px;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings-white.png");
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding-left: 30px;
}

.search-query:focus + .icon-search {
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

#map {
    width: 100%;
    height: 373px;
}

#footer {
    position: absolute;
    bottom: 0;
}